<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akshar.one">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AksharSchoolApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n"
        tools:replace="android:allowBackup">
        <activity android:name=".studentprofile.CreateStudentProfile"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".timetable.TimeTableActivity" />
        <activity android:name=".noticeboard.CreateNoticeActivity" />
        <activity android:name=".noticeboard.NoticeboardActivity" />
        <activity android:name=".examschedule.ScheduledExamList" />
        <activity android:name=".examschedule.ScheduleExamActivity" />
        <activity android:name=".messagecenter.ReportActivity" />
        <activity android:name=".studentprofile.ViewStudentProfileActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".studentprofile.EditStudentProfileActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".attandance.AttandanceEntryActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".birthday.BirthdayActivity"></activity>
        <activity android:name=".forgetpassword.ChangePasswordActivity" />
        <activity android:name=".forgetpassword.ForgetPasswordActivity" />
        <activity android:name=".feeandpayments.MakePaymentActivity" />
        <activity android:name=".feeandpayments.PayFeeActivity" />
        <activity android:name=".feeandpayments.StudentFeesDetails" />
        <activity android:name=".marksentry.StudentMarksEntry" />
        <activity android:name=".marksentry.MarksEntrySelectionActivity" />
        <activity android:name=".assignhomework.CreateHomeworkActivity" />
        <activity android:name=".assignhomework.AssignHomeworkActivity" />
        <activity android:name=".view.notification.NotificationActivity" />
        <activity android:name=".view.browser.InAppBrowserActivity" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/myTheme" />

    </application>

</manifest>