<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akshar.one">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AksharSchoolApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity android:name=".view.messagecenter.SendMarksAndFeeReport"></activity>
        <activity
            android:name=".view.home.ExpandCollectionAndExpenceActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.feeandpayments.FeeDetailActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.feeandpayments.PayementHistoryDetailActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".view.noticeboard.NoticeDetailActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.messagecenter.SendNotificationMessageActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".view.marksentry.inputselection.SelectOtherInputsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".view.marksentry.inputselection.ClassSectionSelectActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.studentprofile.CreateStudentProfile"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.timetable.TimeTableActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.noticeboard.CreateNoticeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.noticeboard.NoticeboardActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.examschedule.ScheduledExamList"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.examschedule.ScheduleExamActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.messagecenter.ReportActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.studentprofile.ViewStudentProfileActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.studentprofile.EditStudentProfileActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.attandance.AttandanceEntryActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.birthday.BirthdayActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".view.forgetpassword.ChangePasswordActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.forgetpassword.ForgetPasswordActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.feeandpayments.MakePaymentActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.feeandpayments.PayFeeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".view.feeandpayments.StudentFeesDetails"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.marksentry.StudentMarksEntry"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.marksentry.MarksEntrySelectionActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.assignhomework.CreateHomeworkActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.assignhomework.AssignHomeworkActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.notification.NotificationActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.browser.InAppBrowserActivity" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/myTheme" />
    </application>

</manifest>